* {
    margin: 0;
    padding: 0;
    outline: none;
}

header {
    display: flex;
    max-width: 100%;
    justify-content: space-between;
    background-color: #191013;
    padding: 5px 50px;
    align-items: center;
    height: 4em;
}

header a {
    height: 70%;
    background-color: #d4cdc5;
    border-radius: 100%;
    padding: 5px;

}
.user{
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 50px;
    border-radius: 100%;
    padding: 5px;
    height: 70%;
    gap: 1em;
}
.user a{
    height: 100%;
    width: 100%;
    background-color: #d4cdc5;
    border: 1px solid black;
}

.user button{
    background-color: #fa4d4d;
    color: #191013;
    border: 1px solid black;
    padding: 3px 6px 3px 6px;
    border-radius: 15px;
    cursor: pointer;
}

.logado{
    display: flex;
    align-items: center;
    padding: 5px 10px 5px 10px;
    border-radius: 20px;
    color: #191013;
    text-decoration: none;
    font-size: 1.3em;
    height: fit-content !important;
}

header a img {
    max-height: 100%;
}

.logo {
    height: 100%;
    background-color: transparent;
}

form {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #d4cdc5;
    height: 45%;
    border-radius: 70px;
    padding-right: 10px;
    border: 1px solid black;
}

form input, 
form input:focus {
    border: none;
    width: 90%;
    background-color: #d4cdc5;
    height: 100%;
    border-radius: 70px;
    padding-left: 10px;
}

form button {
    height: 80%;
    width: 10%;
    background-color: #191013;
    border-radius: 70px;
    border: none;
    cursor: pointer;
}

form button img {
    max-height: 100%;
}

main {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2.5%;

    gap: 3em;
    background-color: #d4cdc5;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #191013;
    border-radius: 50px;
    color: #d4cdc5;
    padding-bottom: 1.5em;
    font-size: 1.5em;
    gap: 2em;

}

#artista{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 1.5em 2em 1.5em 2em;
    width: 95%;
    gap: 20%;
}

#artista img{
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    width: 12em;
    height: 12em;
    object-fit: cover;
    object-position: center center
}

.artista_infos{
    display: flex;
    flex-direction: column;
    gap: .5em;
    font-size: 1.4em;
}

.infos{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1em;
}

h1{
    font-size: 2.8em;
    font-weight: bold;
}

#album img{

    border-radius: 50px;
    border: 3px #191013 solid;
}

#album{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 95%;
    background-color: #d4cdc5;
    border-radius: 50px;
    color: #191013;
    padding: 2em 0 2em 0;
    gap: .5em;
    text-align: center;
}

.album_infos{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    padding-top: 2em;
}

.interior{
    display: flex;
    align-items: start;
    flex-direction: column;
}

.infos{
    display: flex;
    flex-direction: row;
    gap: 5px;
    font-size: 1.4em;
    padding-top: .5em;
    text-align: left;
    & p{
        font-weight: bold;
    }
}

.content{
    width: 100%;
    display: flex;
    padding-left: 2em;
  
    gap: 1em;


}

#artistas{
    display: flex;
    flex-wrap: wrap;

    & a{
        color: #191013;
    }
}

#musicas{
    display: flex;
    flex-direction: column;
    gap: 1em;
    align-items: start;
    width: 100%;
}

.tracklist{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    gap: 1em;
}

.track a{
    color: #d4cdc5;
    text-decoration: none;
}


.track div a{
    font-size: 15px;
}

.track a:hover{
    text-decoration: underline;    
}

.track div{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 6px;
}

.track{
    width: 100%;
    border-radius: 20px;
    padding: 5px 0 5px 1em;
    transition: .2s;
    font-size: 1.2em;
}

.track:hover{
    background-color: #d4cdc5;
    transition: .2s;
    color: #191013;
    & a{
        color: #191013;
        transition: .2s;
    }
}

.imagem{
    width: 100%;

    & img{
        width: 100%;
    }
}
