html{
    padding-bottom: 1em;
}

html, body, main {
    height: 100%;
}

* {
    margin: 0;
    padding: 0;
    outline: none;
}

header {
    display: flex;
    max-width: 100%;
    justify-content: space-between;
    background-color: #191013;
    padding: 5px 50px;
    align-items: center;
    height: 4em;
}

header a {
    height: 70%;
    background-color: #d4cdc5;
    border-radius: 100%;
    padding: 5px;

}

header a img {
    max-height: 100%;
}

.logo {
    height: 100%;
    background-color: transparent;
}

header form {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #d4cdc5;
    height: 45%;
    border-radius: 70px;
    padding-right: 10px;
}

header form input, header form input:focus {
    border: none;
    width: 90%;
    background-color: #d4cdc5;
    height: 100%;
    border-radius: 70px;
    padding-left: 10px;
}

header form button {
    height: 80%;
    width: 10%;
    background-color: #191013;
    border-radius: 70px;
    border: none;
    cursor: pointer;
}

form button img {
    max-height: 100%;
}

main {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3em;
    background-color: #d4cdc5;
}

.container{
    width: 70%;
    height: 55%;
    border-radius: 50px;
    background-color: #191013;
    display: flex;
    padding: 1.5em 1.5em 1.5em 1.5em; 
    align-items: center;
    color: #d4cdc5;
    justify-content: space-between;
    font-size: 1.5em;
}

.cadastro, .login{
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    & form{
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        width: 60%;
        height: 100%;
        padding: 0;
        gap: .5em;

    }
}

.cadastro input{
    background-color: #d4cdc5;
    color: #191013;
    border-radius: 10px;
    padding: 5px 8px 5px 8px;
    width: 100%;
    border: 1px black solid;
}

.login{
    background-color: #d4cdc5;
    color: #191013;
    border-radius: 50px;
    & button{
        background-color: #191013;
        color: #d4cdc5;
        padding: 5px 10px 5px 10px;
        border-radius: 10px;
        border: black 1px solid;
        cursor: pointer;
        font-size: .7em;
    }
}



